<h2>Add New Material Group</h2>
<dl class="dl-horizontal">
    <dt>نام گروه کالا : </dt>
    <dd>
        <input type="text" id="NameGroup" class="form-control" placeholder="نام گروه کالا ..." />
    </dd>

    <dt></dt>
    <dd>
        <input type="button" class="btn btn-success" value="Save0" id="btnSave0" />
    </dd>
</dl>


<dl class="dl-horizontal">
    <dt>کد کالا : </dt>
    <dd>
        <input type="text" id="txtCode" class="form-control" placeholder="کد ..." />
    </dd>

    <dt>عنوان کالا : </dt>
    <dd>
        <input type="text" id="txtTitle" class="form-control" placeholder="عنوان ..." />
    </dd>

    <dt>گروه کالا : </dt>
    <dd>
        <input type="text" id="txtMaterialGroup" class="form-control" placeholder="گروه کالا ..." />
        @*@Html.DropDownList("MaterialGroupId", null, "--Select One Item--", htmlAttributes: new { @class = "form-control", required = "required" })*@
    </dd>


    <dt>حداقل موجودی : </dt>
    <dd>
        <input type="number" id="txtMinInven" class="form-control" placeholder="حداقل موجودی ..." />
    </dd>

    <dt></dt>
    <dd>
        <input type="button" class="btn btn-success" value="Save" id="btnSave" />
    </dd>
</dl>


<h2>ثبت ورود کالا</h2>
<dl class="dl-horizontal">
    <dt>materialId : </dt>
    <dd>
        <input type="text" id="materialId" class="form-control" />
    </dd>

    <dt>number : </dt>
    <dd>
        <input type="number" id="number" class="form-control" />
    </dd>

    <dt>date : </dt>
    <dd>
        <input type="datetime" id="date" class="form-control" />
    </dd>


    <dt>inputInvoiceNumber : </dt>
    <dd>
        <input type="text" id="inputInvoiceNumber" class="form-control" />
    </dd>

    <dt></dt>
    <dd>
        <input type="button" class="btn btn-success" value="Save1" id="btnSave1" />
    </dd>
</dl>

<h2>فروش کالا</h2>
<dl class="dl-horizontal">
    <dt>StoreHouseId : </dt>
    <dd>
        <input type="text" id="StoreHouseId" class="form-control" />
    </dd>

    <dt>number : </dt>
    <dd>
        <input type="number" id="number2" class="form-control" />
    </dd>

    <dt>date : </dt>
    <dd>
        <input type="datetime" id="date2" class="form-control" />
    </dd>


    <dt>OutputInvoiceNumber : </dt>
    <dd>
        <input type="text" id="OutputInvoiceNumber" class="form-control" />
    </dd>

    <dt>CustomerName : </dt>
    <dd>
        <input type="text" id="CustomerName" class="form-control" />
    </dd>

    <dt>Amount : </dt>
    <dd>
        <input type="text" id="Amount" class="form-control" />
    </dd>

    <dt></dt>
    <dd>
        <input type="button" class="btn btn-success" value="Save2" id="btnSave2" />
    </dd>
</dl>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $("#btnSave0").click(function () {
        var materialGroup = {
            MaterialGroupName: $("#NameGroup").val(),
        }

        $.ajax({
            url: "/Api/MaterialGroups",
            type: "Post",
            data: materialGroup
        }).done(function () {
            alert('done honey');
        });
    });



    $("#btnSave2").click(function () {
        debugger;
        var salesInvoice = {
            StoreHouseId: $("#StoreHouseId").val(),
            Count: $("#number2").val(),
            Date: $("#date2").val(),
            OutputInvoiceNumber: $("#OutputInvoiceNumber").val(),
            CustomerName: $("#CustomerName").val(),
            Amount: $("#Amount").val()
        }

        $.ajax({
            url: "/Api/SalesInvoices",
            type: "Post",
            data: salesInvoice
        }).done(function () {
            alert('done honey');
        });
    });



    $("#btnSave").click(function () {
        var material = {
            MaterialCode: $("#txtCode").val(),
            MaterialTitle: $("#txtTitle").val(),
            MaterialGroupId: $("#txtMaterialGroup").val(),
            MinInventory: $("#txtMinInven").val()
        }

        $.ajax({
            url: "/Api/Materials",
            type: "Post",
            data: material
        }).done(function () {
            $("#view").load("/Home/ListMaterial");
        });
    });

    $("#btnSave1").click(function () {
        debugger;
        var storeHouse = {
            MaterialId: $("#materialId").val(),
            Count: $("#number").val(),
            Date: $("#date").val(),
            InputInvoiceNumber: $("#inputInvoiceNumber").val()
        }

        $.ajax({
            url: "/Api/StoreHouse",
            type: "Post",
            data: storeHouse
        }).done(function () {
            $("#view").load("/Home/ListMaterial");
        });
    });
</script>