<table class="table table-bordered" id="list">
    <tr>
        <th>materialId</th>
        <th>number</th>
        <th>date</th>
        <th>inputInvoiceNumber</th>
    </tr>
</table>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $.getJSON("/Api/StoreHouse/GetStoreHouses", function (res) {
        debugger;
        $.each(res, function (key, val) {
            var item = "<tr><td>" + val.MaterialId + "</td><td>" + val.Count + "</td><td>" + val.Date + "</td><td>" + val.InputInvoiceNumber + "</td></tr>";
            $("#list").append(item);

        });
    });



</script>
